#gopng_g14_outer {
height: 390px;
width: 1000px;
overflow: hidden;
}
#gopng_g14 {
background: url(http://gopng/static/images/sprite.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g16_outer {
height: 138px;
width: 1000px;
overflow: hidden;
}
#gopng_g16 {
background: url(http://gopng/static/images/sprite.png) -0px -390px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 390px;
_margin-top: -390px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g29_outer {
height: 79px;
width: 292px;
overflow: hidden;
}
#gopng_g29 {
background: url(http://gopng/static/images/sprite.png) -0px -528px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 528px;
_margin-top: -528px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g7_outer {
height: 71px;
width: 175px;
overflow: hidden;
}
#gopng_g7 {
background: url(http://gopng/static/images/sprite.png) -292px -528px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 292px;
_margin-left: -292px;
_padding-top: 528px;
_margin-top: -528px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g9_outer {
height: 66px;
width: 164px;
overflow: hidden;
}
#gopng_g9 {
background: url(http://gopng/static/images/sprite.png) -467px -528px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 467px;
_margin-left: -467px;
_padding-top: 528px;
_margin-top: -528px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g26_outer {
height: 64px;
width: 488px;
overflow: hidden;
}
#gopng_g26 {
background: url(http://gopng/static/images/sprite.png) -0px -607px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 607px;
_margin-top: -607px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g5_outer {
height: 55px;
width: 130px;
overflow: hidden;
}
#gopng_g5 {
background: url(http://gopng/static/images/sprite.png) -488px -607px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 488px;
_margin-left: -488px;
_padding-top: 607px;
_margin-top: -607px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g6_outer {
height: 55px;
width: 130px;
overflow: hidden;
}
#gopng_g6 {
background: url(http://gopng/static/images/sprite.png) -618px -607px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 618px;
_margin-left: -618px;
_padding-top: 607px;
_margin-top: -607px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g18_outer {
height: 50px;
width: 139px;
overflow: hidden;
}
#gopng_g18 {
background: url(http://gopng/static/images/sprite.png) -748px -607px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 748px;
_margin-left: -748px;
_padding-top: 607px;
_margin-top: -607px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g15_outer {
height: 46px;
width: 65px;
overflow: hidden;
}
#gopng_g15 {
background: url(http://gopng/static/images/sprite.png) -887px -607px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 887px;
_margin-left: -887px;
_padding-top: 607px;
_margin-top: -607px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g27_outer {
height: 44px;
width: 116px;
overflow: hidden;
}
#gopng_g27 {
background: url(http://gopng/static/images/sprite.png) -0px -671px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 671px;
_margin-top: -671px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g28_outer {
height: 44px;
width: 116px;
overflow: hidden;
}
#gopng_g28 {
background: url(http://gopng/static/images/sprite.png) -116px -671px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 116px;
_margin-left: -116px;
_padding-top: 671px;
_margin-top: -671px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g22_outer {
height: 42px;
width: 96px;
overflow: hidden;
}
#gopng_g22 {
background: url(http://gopng/static/images/sprite.png) -232px -671px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 232px;
_margin-left: -232px;
_padding-top: 671px;
_margin-top: -671px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g23_outer {
height: 42px;
width: 96px;
overflow: hidden;
}
#gopng_g23 {
background: url(http://gopng/static/images/sprite.png) -328px -671px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 328px;
_margin-left: -328px;
_padding-top: 671px;
_margin-top: -671px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g8_outer {
height: 40px;
width: 1000px;
overflow: hidden;
}
#gopng_g8 {
background: url(http://gopng/static/images/sprite.png) -0px -715px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 715px;
_margin-top: -715px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g17_outer {
height: 40px;
width: 1000px;
overflow: hidden;
}
#gopng_g17 {
background: url(http://gopng/static/images/sprite.png) -0px -755px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 755px;
_margin-top: -755px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g12_outer {
height: 30px;
width: 91px;
overflow: hidden;
}
#gopng_g12 {
background: url(http://gopng/static/images/sprite.png) -0px -795px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 795px;
_margin-top: -795px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g13_outer {
height: 30px;
width: 91px;
overflow: hidden;
}
#gopng_g13 {
background: url(http://gopng/static/images/sprite.png) -91px -795px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 91px;
_margin-left: -91px;
_padding-top: 795px;
_margin-top: -795px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g24_outer {
height: 28px;
width: 66px;
overflow: hidden;
}
#gopng_g24 {
background: url(http://gopng/static/images/sprite.png) -182px -795px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 182px;
_margin-left: -182px;
_padding-top: 795px;
_margin-top: -795px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g25_outer {
height: 28px;
width: 66px;
overflow: hidden;
}
#gopng_g25 {
background: url(http://gopng/static/images/sprite.png) -248px -795px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 248px;
_margin-left: -248px;
_padding-top: 795px;
_margin-top: -795px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g10_outer {
height: 27px;
width: 105px;
overflow: hidden;
}
#gopng_g10 {
background: url(http://gopng/static/images/sprite.png) -314px -795px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 314px;
_margin-left: -314px;
_padding-top: 795px;
_margin-top: -795px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g11_outer {
height: 27px;
width: 105px;
overflow: hidden;
}
#gopng_g11 {
background: url(http://gopng/static/images/sprite.png) -419px -795px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 419px;
_margin-left: -419px;
_padding-top: 795px;
_margin-top: -795px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g1_outer {
height: 26px;
width: 66px;
overflow: hidden;
}
#gopng_g1 {
background: url(http://gopng/static/images/sprite.png) -524px -795px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 524px;
_margin-left: -524px;
_padding-top: 795px;
_margin-top: -795px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g2_outer {
height: 26px;
width: 66px;
overflow: hidden;
}
#gopng_g2 {
background: url(http://gopng/static/images/sprite.png) -590px -795px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 590px;
_margin-left: -590px;
_padding-top: 795px;
_margin-top: -795px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g19_outer {
height: 25px;
width: 103px;
overflow: hidden;
}
#gopng_g19 {
background: url(http://gopng/static/images/sprite.png) -656px -795px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 656px;
_margin-left: -656px;
_padding-top: 795px;
_margin-top: -795px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g20_outer {
height: 25px;
width: 103px;
overflow: hidden;
}
#gopng_g20 {
background: url(http://gopng/static/images/sprite.png) -759px -795px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 759px;
_margin-left: -759px;
_padding-top: 795px;
_margin-top: -795px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g4_outer {
height: 19px;
width: 17px;
overflow: hidden;
}
#gopng_g4 {
background: url(http://gopng/static/images/sprite.png) -862px -795px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 862px;
_margin-left: -862px;
_padding-top: 795px;
_margin-top: -795px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g21_outer {
height: 19px;
width: 49px;
overflow: hidden;
}
#gopng_g21 {
background: url(http://gopng/static/images/sprite.png) -879px -795px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 879px;
_margin-left: -879px;
_padding-top: 795px;
_margin-top: -795px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_g3_outer {
height: 18px;
width: 16px;
overflow: hidden;
}
#gopng_g3 {
background: url(http://gopng/static/images/sprite.png) -928px -795px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 928px;
_margin-left: -928px;
_padding-top: 795px;
_margin-top: -795px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
