@font-face {
  font-family: 'sec_icon';
  src:  url('fonts/sec_icon.eot?v2zava');
  src:  url('fonts/sec_icon.eot?v2zava#iefix') format('embedded-opentype'),
    url('fonts/sec_icon.ttf?v2zava') format('truetype'),
    url('fonts/sec_icon.woff?v2zava') format('woff'),
    url('fonts/sec_icon.svg?v2zava#sec_icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sec_icon"], [class*=" sec_icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sec_icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sec_iconxingye:before {
  content: "\e900";
  color: #fff;
}
.sec_iconzheshan:before {
  content: "\e901";
}
.sec_iconshundens:before {
  content: "\e902";
}
.sec_iconfudian:before {
  content: "\e903";
}
.sec_iconpufa:before {
  content: "\e904";
  color: #fff;
}
.sec_iconzgjians:before {
  content: "\e905";
  color: #fff;
}
.sec_iconzgzhaos:before {
  content: "\e906";
  color: #fff;
}
.sec_iconhebei:before {
  content: "\e907";
}
.sec_iconguiyang:before {
  content: "\e908";
}
.sec_iconjiangsu:before {
  content: "\e909";
}
.sec_iconwenzhou:before {
  content: "\e90a";
}
.sec_iconsjzsy:before {
  content: "\e90b";
}
.sec_iconhuifeng:before {
  content: "\e90c";
}
.sec_iconguangfa:before {
  content: "\e90d";
  color: #fff;
}
.sec_iconhuaxia:before {
  content: "\e90e";
  color: #fff;
}
.sec_iconbaoshan:before {
  content: "\e90f";
}
.sec_iconbeijing:before {
  content: "\e910";
}
.sec_iconbohai:before {
  content: "\e911";
}
.sec_iconhengfenyx:before {
  content: "\e912";
}
.sec_iconshanghai:before {
  content: "\e913";
}
.sec_iconzhongxin:before {
  content: "\e914";
}
.sec_iconbjncsy:before {
  content: "\e915";
}
.sec_iconzgguangd:before {
  content: "\e916";
  color: #fff;
}
.sec_iconzgmins:before {
  content: "\e917";
  color: #fff;
}
.sec_iconzgyouz:before {
  content: "\e918";
  color: #fff;
}
.sec_iconjinzhouyx:before {
  content: "\e919";
}
.sec_iconshaoxingyx:before {
  content: "\e91a";
}
.sec_iconchouzhou:before {
  content: "\e91b";
}
.sec_iconnbsy:before {
  content: "\e91c";
}
.sec_iconjiaotong:before {
  content: "\e91d";
}
.sec_iconnanjing:before {
  content: "\e91e";
}
.sec_iconliuzhou:before {
  content: "\e91f";
}
.sec_iconhcncsy:before {
  content: "\e920";
}
.sec_iconxining:before {
  content: "\e921";
}
.sec_iconzhongguo:before {
  content: "\e922";
}
.sec_iconqingdao:before {
  content: "\e923";
}
.sec_iconzgny:before {
  content: "\e924";
}
.sec_iconhanya:before {
  content: "\e925";
}
.sec_iconnycz:before {
  content: "\e926";
}
.sec_iconhnncxys:before {
  content: "\e927";
}
.sec_iconyndlynscz:before {
  content: "\e928";
}
.sec_iconsuzhou:before {
  content: "\e929";
}
.sec_iconcqncsy:before {
  content: "\e92a";
}
.sec_icongdsdncsy:before {
  content: "\e92b";
}
.sec_icongzncsy:before {
  content: "\e92c";
}
.sec_iconcsncsy:before {
  content: "\e92d";
}
.sec_iconshanqiu:before {
  content: "\e92e";
}
.sec_iconluohe:before {
  content: "\e92f";
}
.sec_iconjining:before {
  content: "\e930";
}
.sec_iconlongjiang:before {
  content: "\e931";
}
.sec_iconzjmtsy:before {
  content: "\e932";
}
.sec_icondezhou:before {
  content: "\e933";
}
.sec_iconjincheng:before {
  content: "\e934";
}
.sec_icondeyang:before {
  content: "\e935";
}
.sec_iconlaishan:before {
  content: "\e936";
}
.sec_iconzjksy:before {
  content: "\e937";
}
.sec_iconpzhsy:before {
  content: "\e938";
}
.sec_iconcangzhou:before {
  content: "\e939";
}
.sec_iconhzsy:before {
  content: "\e93a";
}
.sec_iconnmg:before {
  content: "\e93b";
}
.sec_iconzhx:before {
  content: "\e93c";
}
.sec_iconyingkou:before {
  content: "\e93d";
}
.sec_iconganzhou:before {
  content: "\e93e";
}
.sec_iconchangsha:before {
  content: "\e93f";
}
.sec_iconjinshan:before {
  content: "\e940";
}
.sec_iconlanzhou:before {
  content: "\e941";
}
.sec_iconhuishan:before {
  content: "\e942";
}
.sec_iconjinzhou:before {
  content: "\e943";
}
.sec_iconqishan:before {
  content: "\e944";
}
.sec_iconhuludao:before {
  content: "\e945";
}
.sec_iconlinshan:before {
  content: "\e946";
}
.sec_iconshaoxing:before {
  content: "\e947";
}
.sec_icondalian:before {
  content: "\e948";
}
.sec_iconluoyang:before {
  content: "\e949";
}
.sec_iconguangzhou:before {
  content: "\e94a";
}
.sec_iconjilin:before {
  content: "\e94b";
}
.sec_iconfjhx:before {
  content: "\e94c";
}
.sec_iconxiamen:before {
  content: "\e94d";
}
.sec_iconzjtnsy .path1:before {
  content: "\e94e";
  color: rgb(0, 0, 0);
}
.sec_iconzjtnsy .path2:before {
  content: "\e94f";
  margin-left: -2.1669921875em;
  color: rgb(237, 83, 6);
}
.sec_iconzjtnsy .path3:before {
  content: "\e950";
  margin-left: -2.1669921875em;
  color: rgb(0, 0, 0);
}
.sec_iconzjtnsy .path4:before {
  content: "\e951";
  margin-left: -2.1669921875em;
  color: rgb(247, 166, 0);
}
.sec_iconzjtnsy .path5:before {
  content: "\e952";
  margin-left: -2.1669921875em;
  color: rgb(0, 0, 0);
}
.sec_icongongshang:before {
  content: "\e953";
  color: #d12d26;
}
.sec_iconncsy .path1:before {
  content: "\e954";
  color: rgb(251, 198, 57);
}
.sec_iconncsy .path2:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.sec_iconmysy:before {
  content: "\e956";
}
.sec_iconbeijingns:before {
  content: "\e957";
}
.sec_iconpingan:before {
  content: "\e958";
}
.sec_iconningbo:before {
  content: "\e959";
}
.sec_iconkunlun:before {
  content: "\e95a";
}
.sec_iconzhengzhou:before {
  content: "\e95b";
}
.sec_icontianjin:before {
  content: "\e95c";
}
.sec_iconshains:before {
  content: "\e95d";
}
.sec_iconanshan:before {
  content: "\e95e";
}
.sec_iconchengde:before {
  content: "\e95f";
}
.sec_iconhankou:before {
  content: "\e960";
}
.sec_iconhhencsy:before {
  content: "\e961";
}
.sec_iconhaerbin:before {
  content: "\e962";
}
.sec_iconjiaxing:before {
  content: "\e963";
}
.sec_iconqinghai:before {
  content: "\e964";
}
.sec_iconrizhao:before {
  content: "\e965";
}
.sec_iconszncsy:before {
  content: "\e966";
}
.sec_icontaizhou:before {
  content: "\e967";
}
.sec_iconhuaifang:before {
  content: "\e968";
}
.sec_iconwlmqsy:before {
  content: "\e969";
}
.sec_iconxingtai:before {
  content: "\e96a";
}
.sec_iconchongqing:before {
  content: "\e96b";
}
.sec_icondongyingsy:before {
  content: "\e96c";
  color: #a30000;
}
.sec_iconzjiakou:before {
  content: "\e96d";
}
.sec_icontaiansy:before {
  content: "\e96e";
  color: #d71718;
}
.sec_icondongguan:before {
  content: "\e96f";
  color: #d22728;
}
.sec_iconweihaisy .path1:before {
  content: "\e970";
  color: rgb(0, 94, 173);
}
.sec_iconweihaisy .path2:before {
  content: "\e971";
  margin-left: -1.466796875em;
  color: rgb(255, 255, 255);
}
.sec_iconweihaisy .path3:before {
  content: "\e972";
  margin-left: -1.466796875em;
  color: rgb(201, 202, 202);
}
.sec_iconyichangsy:before {
  content: "\e973";
  color: #18488c;
}
.sec_iconzjgncsy .path1:before {
  content: "\e974";
  color: rgb(226, 178, 43);
}
.sec_iconzjgncsy .path2:before {
  content: "\e975";
  margin-left: -1.412109375em;
  color: rgb(13, 56, 115);
}
.sec_iconzjgncsy .path3:before {
  content: "\e976";
  margin-left: -1.412109375em;
  color: rgb(13, 56, 115);
}
.sec_iconzjgncsy .path4:before {
  content: "\e977";
  margin-left: -1.412109375em;
  color: rgb(226, 178, 43);
}
.sec_iconzjgncsy .path5:before {
  content: "\e978";
  margin-left: -1.412109375em;
  color: rgb(7, 0, 1);
}
.sec_iconzjgncsy .path6:before {
  content: "\e979";
  margin-left: -1.412109375em;
  color: rgb(0, 0, 0);
}
.sec_iconzjgncsy .path7:before {
  content: "\e97a";
  margin-left: -1.412109375em;
  color: rgb(7, 0, 1);
}
.sec_iconzjgncsy .path8:before {
  content: "\e97b";
  margin-left: -1.412109375em;
  color: rgb(0, 0, 0);
}
.sec_iconzjgncsy .path9:before {
  content: "\e97c";
  margin-left: -1.412109375em;
  color: rgb(7, 0, 1);
}
.sec_iconzjgncsy .path10:before {
  content: "\e97d";
  margin-left: -1.412109375em;
  color: rgb(0, 0, 0);
}
.sec_iconzjgncsy .path11:before {
  content: "\e97e";
  margin-left: -1.412109375em;
  color: rgb(7, 0, 1);
}
.sec_iconshangrao .path1:before {
  content: "\e97f";
  color: rgb(246, 171, 0);
}
.sec_iconshangrao .path2:before {
  content: "\e980";
  margin-left: -1.052734375em;
  color: rgb(232, 56, 32);
}
.sec_iconguangxibbw .path1:before {
  content: "\e981";
  color: rgb(165, 211, 234);
}
.sec_iconguangxibbw .path2:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.sec_iconguangxibbw .path3:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.sec_iconjiangxi .path1:before {
  content: "\e984";
  color: rgb(14, 110, 179);
}
.sec_iconjiangxi .path2:before {
  content: "\e985";
  margin-left: -1.111328125em;
  color: rgb(16, 153, 136);
}
.sec_iconhandan:before {
  content: "\e986";
  color: #074995;
}
.sec_iconhengfeng:before {
  content: "\e987";
}
.sec_iconhangzhou:before {
  content: "\e988";
}
.sec_iconyantai:before {
  content: "\e989";
  color: #6aac31;
}
